@font-face {
    font-family: 'NexaB';
    src: url('../fonts/Nexa-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NexaL';
    src: url('../fonts/Nexa-ExtraLight.ttf') format('truetype');
}